body{
    background-image: url("./assets/comicblue.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#favlistitem{
    display: flex;
    align-items: flex-start;

}

#outerbox{
    border: 1px solid rgba(0, 0, 0, 0.622);
    margin: 10px;
    
}
#innerbox {
    margin: 11px;
}
h5{
    margin-left: 11px;
}
button{
    margin-left: 11px;
    margin-bottom: 6px;
}
#innerbox img {
    height:301px;
    width:202px;
  }
